.App-header {
  background: rgb(0, 0, 0, 0.65)
    url("https://source.unsplash.com/1920x1080/?livingroom");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.dark-mode .App {
  background: black;
  color: white;
}

::-webkit-scrollbar {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 172, 172);
}

#overlay {
  position: fixed;
  display: none;
  padding-top: 8vw;
  flex-direction: row;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  z-index: 2;
  cursor: pointer;
}

#overlay-contents {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  flex-wrap: wrap;
  width: 60vw;
}

#overlay-date {
  display: flex;
  font-family: HelveticaNeue-Light;
  font-size: 2vw;
  color: white;
}

#overlay-header {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

#overlay-poster {
  width: 20vw;
  height: 30vw;
  margin-left: 5vw;
  border-radius: 20px;
}

#overlay-title {
  display: flex;
  padding: 0px;
  /* margin-left: 50vw; */
  font-family: HelveticaNeue-Thin;
  margin-right: 1.6vw;
  font-size: 5vw;
  color: white;
}

#overlay-description {
  display: flex;
  font-family: HelveticaNeue-Light;
  font-size: 1vw;
  color: white;
  padding-left: 0.15vw;
}

#overlay-description-title,
#overlay-streaming-title {
  display: flex;
  font-family: HelveticaNeue-Bold;
  font-size: 1vw;
  color: white;
  padding-left: 0.15vw;
}

#overlay-streaming-title {
  margin-top: 1.7vw;
  margin-bottom: 0.5vw;
}

#overlay-genres {
  display: flex;
  font-family: HelveticaNeue-Thin;
  font-size: 1.5vw;
  margin-left: 0.2vw;
  margin-bottom: 0.6vw;
}

.overlay-services {
  display: flex;
  flex-direction: row;
  padding-left: 0.15vw;
  font-size: 1vw;
}

#overlay-streaming-options {
  display: flex;
  padding-left: 0.15vw;
  font-size: 1vw;
}

.link-text:hover {
  color: black;
  background-color: white;
}

.link-text {
  border: solid 0.5px white;
  border-radius: 10px;
  padding-right: 0.6vw;
  padding-left: 0.6vw;
  justify-content: center;
  height: 1.5vw;
  display: flex;
  margin-right: 1.3vw;
  text-align: center;
  font-size: inherit;
  color: white;
  font-family: HelveticaNeue-Light;
  text-decoration: none;
}

.myLounge-heading {
  margin-top: calc(190px + 5vw);
  margin-bottom: 0px;
  display: flex;
  flex-shrink: 1;
  font-family: HelveticaNeue-Ultralight;
  font-size: 10vw;
}

.myLounge-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  display: flex;
  flex-shrink: 1;
  font-family: HelveticaNeue-Thin;
  font-size: 2vw;
}

/* //////////////// */
/*  Media Options   */
/* //////////////// */

.App-media-options {
  background-color: inherit;
  min-height: 100vh;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  margin-bottom: 6.5vw;
  display: flex;
  flex-direction: column;
  color: inherit;
}

/* COMPONENTS */
/* Search Bar */

/*
  In the app, we have two main types of search bar. The main menu, and the actual page. So,
  we will have common features for the class searchbar and searchbar_menu but just different
  in colours.
  */

.searchbar,
.searchbar-menu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(90px + 28vw);
  border-radius: 20px;
}

.searchbar {
  height: calc(15px + 1.4vw);
  padding-left: 2px;
  border: 2px solid;
  border-color: inherit;
}

.searchbar-menu {
  height: calc(12px + 1.2vw);
  border: 1.3px solid white;
}

.searchinput,
.searchinput-menu {
  display: flex;
  align-self: center;
  justify-content: center;
  background: none;
  margin-left: 0.4vw;
  outline: none;
  border: none;
  position: relative;
  width: 90%;
}

.searchinput {
  color: inherit;
  font-family: HelveticaNeue-Thin;
  font-size: calc(12px + 0.6vw);
}

.searchinput-menu {
  color: white;
  font-family: HelveticaNeue-Light;
  font-size: calc(10px + 0.5vw);
}

.searchinput::placeholder {
  display: flex;
  align-self: center;
  justify-content: center;
  font-family: HelveticaNeue-Thin;
  font-size: calc(12px + 0.6vw);
  padding: 0px;
  margin: 0px;
  color: inherit;
}

.searchinput-menu::placeholder {
  font-family: HelveticaNeue-Thin;
  font-size: calc(8px + 0.5vw);
  color: white;
}

.searchbutton,
.searchbutton-menu {
  background-size: cover;
  position: relative;
  display: flex;
  border: 0px;
  margin-left: 0.6vw;
}

.searchbutton {
  width: calc(2px + 1.1vw);
  height: calc(2px + 1.1vw);
}

.dark-mode .searchbutton {
  -webkit-filter: invert(100%);
}

.searchbutton-menu {
  width: 1vw;
  height: 1vw;
  -webkit-filter: invert(100%);
}

/* //////////////////////// */
/* END OF COMPONENTS STYLES */
/* //////////////////////// */

.color-mode {
  display: flex;
  width: 4.3vw;
  font-family: HelveticaNeue-Light;
  margin-top: 0.8vw;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.color-mode:focus {
  outline: none;
}

.color-mode:hover {
  background-color: black;
  color: white;
}

.dark-mode .color-mode {
  border: 1px solid white;
  color: white;
}

.dark-mode .color-mode:hover {
  color: black;
  background-color: white;
}

#color-mode-text {
  font-size: calc(2px + 0.6vw);
}

/* This below is the styling for the upper header of filters. */
.filters-header {
  display: flex;
  margin-top: 0.6vw;
  position: relative;
  width: 100%;
  align-self: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* This below is for the selection of watch or listen */
.media-selection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selection-label {
  position: relative;
  display: flex;
  align-self: flex-start;
  font-family: HelveticaNeue-Thin;
  font-size: calc(12px + 0.7vw);
  color: inherit;
}

.media-button {
  display: flex;
  align-self: center;
  margin-left: 0.6vw;
  width: calc(60px + 2.5vw);
  height: calc(15px + 1.7vw);
  border: solid 2px inherit;
  border-radius: 20px;
  cursor: pointer;
  padding: 0px;
}

.media-button-wrapper {
  display: flex;
  width: calc(60px + 2.5vw);
  height: calc(12px + 1.7vw);
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-family: HelveticaNeue-Medium;
  font-size: calc(12px + 0.6vw);
}

.media-button.selected {
  background-color: black;
  color: white;
  text-align: center;
}

.dark-mode .media-button.selected {
  background-color: white;
  color: black;
  text-align: center;
}

.dark-mode .media-button {
  background-color: black;
  color: white;
}

.media-button:focus {
  outline: rgb(73, 62, 72);
}

/* This below is for the rest of the media options sections */
.white-header {
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
}

.category-list {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
}

.category-title {
  display: flex;
  margin-bottom: 15px;
  font-family: HelveticaNeue-Light;
  font-size: calc(18px + 1.6vw);
  color: inherit;
}

.category-media {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  height: inherit;
  width: 100%;
  padding-left: 1vw;
  padding-top: 1vw;
}

.category-media .media-template:first-child {
  margin-left: 0;
}

.category-media .listen-set:first-child {
  margin-left: 0;
}

.category-media .listen-set {
  height: 25vw;
}

.category-media .media-template {
  position: relative;
  display: flex;
  align-self: center;
  height: 26vw;
  width: 18.35vw;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 4px 5px 20px black;
  margin-left: 5.9vw;
  margin-bottom: 2vw;
}

/* .next-button, .prev-button {
    align-self: center;
    width: 35px;
    height: 35px;
    display: flex;
  }

  .next-button {
    justify-content: end;
  }

  .prev-button {
    -webkit-transform: scaleX(-1);
    display: flex;
  } 

.watch-genre-template-first,
.watch-genre-template-middle,
.watch-genre-template-last,
.listen-genre-template-first,
.listen-genre-template-middle,
.listen-genre-template-last {
  filter: brightness(40%);
}

.genre-set,
.genre-set-middle,
.genre-set-last {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  text-align: center;
}

.genre-label {
  position: absolute;
  display: block;
  align-items: center;
  top: 69%;
  height: 2vw;
  margin: 0;
  color: white;
  font-family: HelveticaNeue-Light;
  font-size: calc(8px + 1vw);
}

.genre-vector {
  display: flex;
  align-self: center;
  position: absolute;
  width: 4vw;
  align-items: center;
}

*/

.listen-set {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  color: inherit;
  margin-left: 6.5vw;
}

.listen-media,
.listen-genre-template-first,
.listen-genre-template-middle,
.listen-genre-template-last {
  position: relative;
  display: flex;
  align-self: center;
  height: 18.35vw;
  width: 18.35vw;
  border-radius: 20px;
  box-shadow: 4px 5px 20px black;
}

.listen-media-subtext {
  font-family: HelveticaNeue-Light;
  font-size: calc(7px + 0.4vw);
}

.listen-artist-link,
.listen-media-titles {
  text-decoration: none;
  color: inherit;
}

.listen-media-titles {
  font-family: HelveticaNeue-Light;
  font-size: calc(15px + 0.5vw);
  margin-bottom: 0;
}

.listen-artist-link:hover,
.listen-media-titles:hover {
  font-family: HelveticaNeue-Bold;
}

.hide-this {
  display: none;
}

.search-results-title {
  font-family: HelveticaNeue-Light;
  margin-top: 2vw;
  margin-bottom: 0px;
  color: inherit;
  font-size: 5vw;
}

.search-watch-lists .category-list:first-child {
  margin-top: 1.5vw;
}

.search-watch-lists .category-list:first-child .category-title {
  margin-top: 0;
}

.loading-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 3.7vw;
}

.loading-text {
  font-size: calc(18px + 4.6vw);
  color: inherit;
  font-family: HelveticaNeue-Ultralight;
  display: flex;
  margin-right: 1.2vw;
  margin-left: 0;
  padding: 0;
}

.loader {
  border: 0.4vw solid rgb(207, 207, 207);
  border-top: 0.4vw solid rgb(59, 59, 59);
  border-radius: 50%;
  width: 1.8vw;
  height: 1.8vw;
  animation: spin 2s linear infinite;
}

.dark-mode .loader {
  border: 0.4vw solid rgb(59, 59, 59);
  border-top: 0.4vw solid rgb(207, 207, 207);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
